img{
    
    width: 400px;
    height: 400px;
}
body{
    background-color: rgb(32, 192, 192);
}
#contentent{
    display: flex;
    gap:1cm;
    
h1{
    text-align: center;
}
h2{
    text-align:center;
    color: aquamarine;
}